# for python
*.pyc
*_pb2.py
# build files
*.dll
*.exe
*.obj
*.o
*.so
*.a
/cmake-build-*
/build
# binary file
*.tsm
*.t
*.txt
*.dat
*.pkl
*.tar.gz
*.out
# project files
/.idea
/.vim

/obj-x86_64-linux-gnu
/debian/.debhelper
/debian/files
/debian/tmp
/debian/seeta-tennis1
/debian/seeta-tennis1.substvars
/debian/seeta-tennis-dev
/debian/seeta-tennis-dev.substvars
